div.figure {
	width: 500px;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
	text-align:center;
}
div.figure p {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}

a.returnlink {
	font-size: smaller;
	font-style: italic;
}
