severity = brutal
exclude = Miscellanea::RequireRcsKeywords Modules::RequireVersionVar ValuesAndExpressions::ProhibitMagicNumbers CodeLayout::ProhibitParensWithBuiltins NamingConventions::Capitalization ErrorHandling::RequireCarping Variables::ProhibitPunctuationVars Documentation::PodSpelling ValuesAndExpressions::ProhibitNoisyQuotes
