severity = brutal
exclude = CodeLayout::RequireTidyCode Miscellanea::RequireRcsKeywords Documentation::RequirePodSections Documentation::RequirePodAtEnd Modules::RequireVersionVar ValuesAndExpressions::ProhibitMagicNumbers CodeLayout::ProhibitParensWithBuiltins NamingConventions::Capitalization ErrorHandling::RequireCarping Variables::ProhibitPunctuationVars Documentation::PodSpelling ValuesAndExpressions::ProhibitNoisyQuotes NamingConventions::ProhibitAmbiguousNames Variables::ProhibitPunctuationVars ValuesAndExpressions::ProhibitEmptyQuotes RegularExpressions::RequireDotMatchAnything RegularExpressions::RequireExtendedFormatting RegularExpressions::RequireLineBoundaryMatching
