severity = brutal
exclude = Miscellanea::RequireRcsKeywords Modules::RequireVersionVar ValuesAndExpressions::ProhibitMagicNumbers CodeLayout::ProhibitParensWithBuiltins NamingConventions::Capitalization
