@import url(../Style/css/box_homepage.css);
@import url(../Style/css/page_theme.css);
@import url(../Style/css/divers.css);
@import url(../Style/css/footer.css);
@import url(../Style/css/header.css);
@import url(../Style/css/menu_left.css);
@import url(../Style/css/table.css);

html{
 width: 990px;
 display: block;
 margin: auto;
 overflow-y:scroll;
}

body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
    color: #000;  
    margin:0px;
    padding-left: 0px;	
    width:990px;
    border-style:solid;
    border-color:lightgrey;
    border-width:1px;
}

/***************************************************************************** 
*** SIDEBAR 
*****************************************************************************/
.bloc_gauche{
    float:left;
    width: 190px;
    font-size: 14px;    
    margin-top:115px;
    margin-bottom:10px;
    position: relative;
    *position: absolute; /* Pour IE 7 et inferieur */
}



/***************************************************************************** 
*** BLOC PRINCIPAL 
*****************************************************************************/

/** GLOBAL CONTAINER ********************************************************/
.bloc_droit{
    margin: 0px;
    padding-top: 0;
    padding-left: 194px;
    *margin-bottom: 55px; /* Pour IE 7 et inférieur */
}

/** Description *************************************************************/

.bioinfo{
  margin-bottom:20px;
  width:700px;  
}

.bioinfo p{
  font-size:1.2em;
  padding-top:8px;
  margin-left:0px;
}

.menu_central{
    position: relative;
    top: 11px;
    left: 10px;
    width: 810px;
    height: 23px;
    padding-top: 18px;    
    font-size: 14px;
    color: #444;
    padding-left: 150px;
    background-color: #fff;
    *padding-top:0px;/* pour IE 7 et inférieur*/
    *top:80px;/* pour IE 7 et inférieur*/
    *position:absolute;/* pour IE 7 et inférieur*/
}

.menu_central a, .menu_central a:hover, .menu_central a:visited{
    padding: 11px 4px 4px;
    font-weight: bold;
    margin-left: 20px;
    color: #444;
    text-decoration: none;
}

.menu_central a:hover{ 
    background-color: #ccc;
    border-radius:0px 0px 5px 5px;
 }

/** CONTENT ******************************************************************/
.main{
    width: 730px;
    min-height: 530px;
    height: auto !important;
    font-size: 12px;
    background-color: #fff;
    margin-left:8px;
    padding-top:25px;
    text-align:left;
}



h2{
    margin-top: 0;
    background-color: #fff;
    padding-bottom: 0px;
    text-align: left;
    color: #000;
    line-height: 16px;
    margin-top: 6px;
    margin-bottom: 5px;   
    font-size: 1.2em;
    padding-top: 8px;
}

h2:first-letter {
  font-weight: bold;
  font-size:1.2em;
  color: #000;
  background-color: #fff;
}

h3{
  color:#000;
  font-size: 1.5em;
}

p{
    margin-left: 10px;
    margin-bottom :5px;
    margin-right: 10px;
    text-align: justify;
    line-height: 20px;
}

input[type=submit], input[type=button]{
  font-weight: bold;  
}

ul{
    list-style-type: square;
}

ul li{
    line-height: 20px;    
}

img{
    border: 0;
}

a:hover{
  color: #00008B;
  text-decoration: underline;
}

a{
  color: #00008B;
  text-decoration: none;
}





