
body {
	font-family: sans-serif;
	font-size: 10pt;
    counter-reset:section;
    text-align: justify;
}

h2 {
   
    padding-top:   5pt;
    padding-bottom: 5pt;
    padding-left: 15pt;
    margin-right:  -50px;
    margin-top:  16pt;
    font-size:     16pt;
    font-weight: normal; 
    counter-reset:subsection;
    background-color:#FFF0BC; 
    width:40%; 
    border-left: 7px solid #f4ba31; 
}

h2:before {
    counter-increment:section;
    content:counter(section) ". ";
}

hr.section{
    margin-left:0;
    text-align:left;
    width:28%;
    margin-top:10px;
    height:4px;
    background-color:#f4ba31;
    
}

/* Overriding bioinfo.css */
h2:first-letter {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
}

.menu_central {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

h3 {
    margin-top: 2em;
    margin-bottom: 0px;
    margin-right:  -50px;
    font-size:     12pt;
    font-weight:   bold;
    text-align:    left;
}

h3:before
    {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
    }

p {
    text-align: justify;
    padding: 1px 0px 1px 0px;
}

p.equation {
    text-align: center;
    font-family:monospace;
}



.example{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px 30px 2px 40px;
    background-color: #EEE;
}

div.table-of-contents{
    border: 2px solid #f4ba31; 
    margin-left: 30px;
    width:40%;  
    background-color: #FEFEFE; 
}

/* table-of-content */
.table-of-contents ol {
    counter-reset: item
}
.table-of-contents li {
    display: block
}
.table-of-contents li:before {
    content: counters(item, ".")" ";
    counter-increment: item
}
/* end table-of-content */

pre.alignment {
    margin-top:0px;
    line-height: 1.3em;
}

span.mature {
    color: #CB4B16;
}

span.others {
    display: inline-block;
}

.main-full{
    margin-left:-170px;
    padding-left:20px; 
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    line-height: 20px;
}

ol li {
    padding-left: 0.6em;
    padding-bottom: 0.5em;
    text-align: justify;
    padding-right: 30px;
    
}

dt {
    padding-top: 5px;
    padding-left: 15px;
    font-weight:bold;
}
dd {
 padding-top: 4px; 
 padding-bottom: 6px;
}
