
body {
	font-family: sans-serif;
	font-size: 10pt;
    counter-reset:section;
    text-align: justify;
}

h2 {
    padding-top:   15pt;
    margin-right:  -50px;
    padding-bottom: 5pt;
    font-size:     16pt;
    font-weight:   bold;
    counter-reset:subsection;
}

h2:before {
    counter-increment:section;
    content:counter(section) ". ";
    font-weight:bold;
}

hr.section{
    text-align:center;
    width:200px;
    margin-top:30px;
}

/* Overriding bioinfo.css */
h2:first-letter {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
}

.menu_central {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

h3 {
    margin-top: 2em;
    margin-bottom: 0px;
    margin-right:  -50px;
    font-size:     12pt;
    font-weight:   bold;
    text-align:    left;
}

h3:before
    {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
    }

p {
    text-align: justify;
    padding: 2px 0px 2px 0px;
}

p.equation {
    text-align: center;
    font-family:monospace;
}

.example{
    text-align: justify;
    padding-top: 5px;
    padding-left: 15px;
    margin: 2px 70px 2px 40px;
    background-color: #EEE;
}

pre.alignment {
    line-height: 1.3em;
}

span.mature {
    color: blue;
}

span.others {
    display: inline-block;
    margin-bottom: 20px;
}

.main-full{
    margin-left:-170px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 60px;
    line-height: 20px;
}

ol li {
    padding-left: 0.6em;
    padding-bottom: 0.5em;
    text-align: justify;
    padding-right: 30px;
}

dt {
    padding-top: 5px;
    padding-left: 15px;
    font-weight:bold;
}
dd {

}
