
body {
    background: #FFFFFF;
    color: #000000;
    padding-left: 10pt;
}

pre.alignment {
    line-height: 1.3em;
}

h2 {
    width: 100%;
    padding-top: 5pt;
    padding-bottom: 5pt;
	font-size: 16pt;
	font-weight: bold;
}

h3 {
    padding: 6px 6px 6px 0px;
    font-size: 12pt;
    font-weight: bold;
}


h4 {
    padding: 6px 6px 6px 0px;
    font-size: 11pt;
    font-weight: bold;
}

ul {
    list-style-type: square;
	margin-left: -4pt;
}
li {
    padding-left: 2pt;
	margin-left: -10pt;
    padding-bottom : 2pt;
    padding-top: 2pt;
}

span.mature {
    color: blue;
}

span.others {
    display: inline-block;
    margin-bottom: 20px;
}

a {
    color: #000099;
    text-decoration: none;
}

a[href]:hover{
    text-decoration: underline;
}

a.returnlink {
	font-size: smaller;
}

img.structure{
	padding-left: 4pt;
}
